
<%= form_tag(books_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Gerto's Mean Ass Library" %>
<%= link_to submit_tag do %>
<div class="search-button"> Search </div>
<%end%>
<% end %>

<% if @book.present? %>
  <%= render @book %>
<% else %>
  <p>There are no books containing the term(s) <%= params[:search] %>.
  <!-- <%= @books.inspect %> -->
</p>
<% end %>

<p id="notice"><%= notice %></p>

<h1 class="page-title">Books</h1>

<%= link_to new_book_path do %>
    <div class="newbook-button">Add a book!</div>
    <% end %>
    <div class="book-seperator"></div>

  <body>
    <% @books.reverse_each do |book| %>

    <div class="book-user">Posted by: <%= book.user.email %></div>
    <div class="book-container">
      <% gbook = GoogleBooks.search(book.title).first %>
        <p class="book-title"> <%= book.title %> </p>
        <p class="book-info"> Author: <%= gbook.authors %>, </p>
          <p class="book-info">Publication: <%= gbook.published_date %> </p>
          <% if user_signed_in? %>
                        <% if current_user.voted_for? book %>
                          <% a = Vote.find_by(:voter_id => current_user.id, :votable_id => book.id) %>
                          <% if a.vote_weight == 1 %>
                          <%= awesome_link('fa-star', voteone_book_path(book), method: :put) %>
                          <%= awesome_link('fa-star-o', votetwo_book_path(book), method: :put) %>
                          <%= awesome_link('fa-star-o', votethree_book_path(book), method: :put) %>
                          <%= awesome_link('fa-star-o', votefour_book_path(book), method: :put) %>
                          <%= awesome_link('fa-star-o', votefive_book_path(book), method: :put) %>
                          <% elsif a.vote_weight == 2 %>
                          <%= awesome_link('fa-star', voteone_book_path(book), method: :put) %>
                          <%= awesome_link('fa-star', votetwo_book_path(book), method: :put) %>
                          <%= awesome_link('fa-star-o', votethree_book_path(book), method: :put) %>
                          <%= awesome_link('fa-star-o', votefour_book_path(book), method: :put) %>
                          <%= awesome_link('fa-star-o', votefive_book_path(book), method: :put) %>
                          <% elsif a.vote_weight == 3 %>
                          <%= awesome_link('fa-star', voteone_book_path(book), method: :put) %>
                          <%= awesome_link('fa-star', votetwo_book_path(book), method: :put) %>
                          <%= awesome_link('fa-star', votethree_book_path(book), method: :put) %>
                          <%= awesome_link('fa-star-o', votefour_book_path(book), method: :put) %>
                          <%= awesome_link('fa-star-o', votefive_book_path(book), method: :put) %>
                          <% elsif a.vote_weight == 4 %>
                          <%= awesome_link('fa-star', voteone_book_path(book), method: :put) %>
                          <%= awesome_link('fa-star', votetwo_book_path(book), method: :put) %>
                          <%= awesome_link('fa-star', votethree_book_path(book), method: :put) %>
                          <%= awesome_link('fa-star', votefour_book_path(book), method: :put) %>
                          <%= awesome_link('fa-star-o', votefive_book_path(book), method: :put) %>
                          <% elsif a.vote_weight == 5 %>
                          <%= awesome_link('fa-star', voteone_book_path(book), method: :put) %>
                          <%= awesome_link('fa-star', votetwo_book_path(book), method: :put) %>
                          <%= awesome_link('fa-star', votethree_book_path(book), method: :put) %>
                          <%= awesome_link('fa-star', votefour_book_path(book), method: :put) %>
                          <%= awesome_link('fa-star', votefive_book_path(book), method: :put) %>
                          <% end %>
                          <% else %>
                          <%= awesome_link('fa-star-o', voteone_book_path(book), method: :put) %>
                          <%= awesome_link('fa-star-o', votetwo_book_path(book), method: :put) %>
                          <%= awesome_link('fa-star-o', votethree_book_path(book), method: :put) %>
                          <%= awesome_link('fa-star-o', votefour_book_path(book), method: :put) %>
                          <%= awesome_link('fa-star-o', votefive_book_path(book), method: :put) %>
                        <% end %>
                    <% end %>

          <%= book.score %>
          <div class="book-cover">

          <img src= <%= gbook.image_link(:zoom => 2) %> >
          </div>


        <p class="book-description">  <%= gbook.description %> </p>

        </div>

          <div class="book-action-container">
            <%= link_to book do %>
            <div class="edit-button">
              View
            </div>
            <% end %>
            <% if current_user == book.user %>
              <%= link_to edit_book_path(book) do %>
              <div class="edit-button">
                Edit
            </div>
            <% end %>

              <%= link_to book, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <div class="edit-button">
                Delete
            </div>
            <% end %>
            <%end%>
      </div>

      <div class="book-seperator"></div>


  <% end %>

</body>

<%= link_to new_book_path do %>
    <div class="newbook-button">Add a book!</div>
    <% end %>
