
<%= form_tag(books_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
<%= submit_tag "Search" %>
<% end %>

<% if @posts.present? %>
  <%= render @posts %>
<% else %>
  <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
<% end %>

<p id="notice"><%= notice %></p>

<h1 class="page-title">Books</h1>

<%= link_to new_book_path do %>
    <div class="newbook-button">Add a book!</div>
    <% end %>

  <body>
    <% @books.reverse_each do |book| %>

    <div class="book-user">Posted by: <%= book.user.email %></div>
    <div class="book-container">

        <p class="book-title"> <%= book.title %> </p>
        <p class="book-info"> Author: <%= book.author %>, </p>
          <p class="book-info">Publication: <%= book.publication %> </p>


        <p class="book-summary">  <%= book.summary %> </p>

        </div>

          <div class="book-action-container">
            <%= link_to book do %>
            <div class="edit-button">
              View
            </div>
            <% end %>
            <% if current_user == book.user %>
              <%= link_to edit_book_path(book) do %>
              <div class="edit-button">
                Edit
            </div>
            <% end %>

              <%= link_to book, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <div class="edit-button">
                Delete
            </div>
            <% end %>
            <%end%>
      </div>

      <div class="book-seperator"></div>


  <% end %>

</body>

<%= link_to new_book_path do %>
    <div class="newbook-button">Add a book!</div>
    <% end %>
