
<%= form_tag(books_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
<%= submit_tag "Search" %>
<% end %>

<% if @book.present? %>
  <%= render @book %>
<% else %>
  <p>There are no books containing the term(s) <%= params[:search] %>.
  <!-- <%= @books.inspect %> -->
</p>
<% end %>

<p id="notice"><%= notice %></p>

<h1 class="page-title">Books</h1>

<%= link_to new_book_path do %>
    <div class="newbook-button">Add a book!</div>
    <% end %>
    <div class="book-seperator"></div>

  <body>
    <% @books.reverse_each do |book| %>

    <div class="book-user">Posted by: <%= book.user.email %></div>
    <div class="book-container">
      <% gbook = GoogleBooks.search(book.title).first %>
        <p class="book-title"> <%= book.title %> </p>
        <p class="book-info"> Author: <%= gbook.authors %>, </p>
          <p class="book-info">Publication: <%= gbook.published_date %> </p>
          <div class="book-cover">

          <img src= <%= gbook.image_link(:zoom => 2) %> >
          </div>


        <p class="book-summary">  <%= gbook.description %> </p>

        </div>

          <div class="book-action-container">
            <%= link_to book do %>
            <div class="edit-button">
              View
            </div>
            <% end %>
            <% if current_user == book.user %>
              <%= link_to edit_book_path(book) do %>
              <div class="edit-button">
                Edit
            </div>
            <% end %>

              <%= link_to book, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <div class="edit-button">
                Delete
            </div>
            <% end %>
            <%end%>
      </div>

      <div class="book-seperator"></div>


  <% end %>

</body>

<%= link_to new_book_path do %>
    <div class="newbook-button">Add a book!</div>
    <% end %>
