<p id="notice"><%= notice %></p>

<div class="book-user">Posted by: <%= @book.user.email %></div>
<div class="book-container">
  <% gbook = GoogleBooks.search(@book.title).first %>
    <p class="book-title"> <%= @book.title %> </p>
    <p class="book-info"> Author: <%= gbook.authors %>, </p>
      <p class="book-info">Publication: <%= gbook.published_date %> </p>
      <% if user_signed_in? %>
                    <% if current_user.voted_for? @book %>
                      <% a = Vote.find_by(:voter_id => current_user.id, :votable_id => @book.id) %>
                      <% if a.vote_weight == 1 %>
                      <%= awesome_link('fa-star', voteone_book_path(@book), method: :put) %>
                      <%= awesome_link('fa-star-o', votetwo_book_path(@book), method: :put) %>
                      <%= awesome_link('fa-star-o', votethree_book_path(@book), method: :put) %>
                      <%= awesome_link('fa-star-o', votefour_book_path(@book), method: :put) %>
                      <%= awesome_link('fa-star-o', votefive_book_path(@book), method: :put) %>
                      <% elsif a.vote_weight == 2 %>
                      <%= awesome_link('fa-star', voteone_book_path(@book), method: :put) %>
                      <%= awesome_link('fa-star', votetwo_book_path(@book), method: :put) %>
                      <%= awesome_link('fa-star-o', votethree_book_path(@book), method: :put) %>
                      <%= awesome_link('fa-star-o', votefour_book_path(@book), method: :put) %>
                      <%= awesome_link('fa-star-o', votefive_book_path(@book), method: :put) %>
                      <% elsif a.vote_weight == 3 %>
                      <%= awesome_link('fa-star', voteone_book_path(@book), method: :put) %>
                      <%= awesome_link('fa-star', votetwo_book_path(@book), method: :put) %>
                      <%= awesome_link('fa-star', votethree_book_path(@book), method: :put) %>
                      <%= awesome_link('fa-star-o', votefour_book_path(@book), method: :put) %>
                      <%= awesome_link('fa-star-o', votefive_book_path(@book), method: :put) %>
                      <% elsif a.vote_weight == 4 %>
                      <%= awesome_link('fa-star', voteone_book_path(@book), method: :put) %>
                      <%= awesome_link('fa-star', votetwo_book_path(@book), method: :put) %>
                      <%= awesome_link('fa-star', votethree_book_path(@book), method: :put) %>
                      <%= awesome_link('fa-star', votefour_book_path(@book), method: :put) %>
                      <%= awesome_link('fa-star-o', votefive_book_path(@book), method: :put) %>
                      <% elsif a.vote_weight == 5 %>
                      <%= awesome_link('fa-star', voteone_book_path(@book), method: :put) %>
                      <%= awesome_link('fa-star', votetwo_book_path(@book), method: :put) %>
                      <%= awesome_link('fa-star', votethree_book_path(@book), method: :put) %>
                      <%= awesome_link('fa-star', votefour_book_path(@book), method: :put) %>
                      <%= awesome_link('fa-star', votefive_book_path(@book), method: :put) %>
                      <% end %>
                      <% else %>
                      <%= awesome_link('fa-star-o', voteone_book_path(@book), method: :put) %>
                      <%= awesome_link('fa-star-o', votetwo_book_path(@book), method: :put) %>
                      <%= awesome_link('fa-star-o', votethree_book_path(@book), method: :put) %>
                      <%= awesome_link('fa-star-o', votefour_book_path(@book), method: :put) %>
                      <%= awesome_link('fa-star-o', votefive_book_path(@book), method: :put) %>
                    <% end %>
                <% end %>

      <%= @book.score %>

      <div class="book-cover">

      <img src= <%= gbook.image_link(:zoom => 2) %> >
      </div>


    <p class="book-description">  <%= gbook.description %> </p>

    </div>

    <div class="book-rating">
    <div class="book-rating-user"> Reviewed By: <b><%= @book.user.email %></b></div>
    <%= @book.summary %></div>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
