<p id="notice"><%= notice %></p>

<div class="book-user">Posted by: <%= @book.user.email %></div>
<div class="book-container">
  <% gbook = GoogleBooks.search(@book.title).first %>
    <p class="book-title"> <%= @book.title %> </p>
    <p class="book-info"> Author: <%= gbook.authors %>, </p>
      <p class="book-info">Publication: <%= gbook.published_date %> </p>
      <div class="book-cover">

      <img src= <%= gbook.image_link(:zoom => 2) %> >
      </div>


    <p class="book-description">  <%= gbook.description %> </p>

    </div>

    <div class="book-rating">
    <div class="book-rating-user"> Reviewed By: <b><%= @book.user.email %></b></div>
    <%= @book.summary %></div>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
